.card-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 100%;
  gap: 2vh;
}

.card {
  position: relative;
  width: 90%;
  height: 200px;
  font-size: 1.5rem;
  box-shadow: 3px 4px 1px 1px var(--color-cherry);
  border: 1px;
  border-color: var(--color-cherry);
  border-style: solid;
  border-radius: 25px;
}

.card-elements {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vw;
  gap: 25px;
}

.card-tags {
  position: absolute;
  top: 140px;
  left: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card-tag {
  font-size: 2.5vh;
  background-color: lightgray;
  border-radius: 5px;
  border: 0.25px;
  border-color: var(--text-color);
  border-style: dotted;
}

.card-question {
  font-size: large;
  font-style: italic;
  color: var(--text-color);
}

.card-button {
  border-radius: 15%;
  width: 6rem;
  height: 2rem;
  border: 2px;
  border-color: brown;
  border-style: groove;
}
.bookmark-btn {
  position: absolute;
  top: -20px;
  left: 330px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookmark-btn:hover .card-bookmark {
  stroke: blue;
}
